.Enquiry {
  padding: 0;
  margin: 0;
}

.enq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    color: black;
}

.enq .left {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .enq .left div {
    margin-right: 20px;
  }
  .enq .left div:last-child {
    margin-right: 0;
  }
  .enq .right {
    display: flex;
    align-items: center;
    gap: 100px;
  }
  .enq .right .status {
    background-color: #fcd980;
    border-radius: 20px;
    padding: 5px 15px;
    font-weight: bold;
  }
  .enq .title {
    font-size: 18px;
  }
  .enq .budget, .enq .details {
    font-size: 18px;
  }
  .enq .details span {
    margin: 0 10px;
    font-weight: bold;
  }
  .enq-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  